.cart-style-btn{
    border: 0px;
    background: white;
   
}

.cart-style{
    position: relative;
    top: -64px;
    left: 94%;
}

.badge-style{
    position: relative;
    top: -13px;
    left: -8px;
}

.reset-style{
    position: relative;
    top: -9px;
    left: 91%;
}