.loginForm{    margin: 20% 38%;
    border: 1px #ced4da solid;
    padding: 20px 15px;
    border-radius: 13px;
    box-shadow: 10px 5px 5px #21252970;
    background: #f7f7f7;
}

.userIcon{
    position: relative;
    left: 35%;
}