<div class="container">
    <div class="row">
      <div class="col">
        <h1>Inventroy List</h1>
        <span>
          <button type="button" class="btn btn-primary" (click)="openAddItem()">OpenChild</button>
        </span>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>type</th>
                    <th>description</th>
                    <th>price</th>
                    <th>quantity</th>
                  </tr>
                </thead>
                <tbody  *ngFor="let item of actualShoppingList">
                  <tr>
                    <td>{{item.id+1}}</td>
                    <td><img class="card-img-top" width="100px" src="{{item.imageUrl}}" alt="{{item.imageUrl}}"></td>
                    <td>{{item.title}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.description}}</td>
                    <td>${{item.price}}</td>
                    <td>{{item.quantity}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
  </div>


