
.eachItemDisplay{
    margin: 20px;
    padding: 10px;
    border: 1px solid #b0c2d2;
    width: 640px;
}

.tile-image-style{
    width: 500px;
  }

.checkout-display-aside-panel{
    width: 500px;
}

.each-image-style{
    margin: auto;
    width: 630px;
    display: flex;
    justify-content: center;
}