.cart-style-btn{
    border: 0px;
    background: white;
   
}

.badge-success{    
    color: #fff;
    background-color: #28a745;
    position: relative;
    top: -13px;
    left: -7px;
}

// .cart-style{
//     position: relative;
//     top: -64px;
//     left: 94%;
// }

// .badge-style{
//     position: relative;
//     top: -13px;
//     left: -8px;
// }

// .reset-style{
//     position: relative;
//     top: -9px;
//     left: 88%;
// }

// .logout-style{
//     position: relative;
//     top: -9px;
//     left: 89%;
// }