
<div class="results">
    <div class="card" style="width: 18rem;" *ngFor="let item of actualShoppingList">
        <img class="card-img-top" width="200px" src="{{item.imageUrl}}" alt="{{item.imageUrl}}">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 17px;">{{item.title}}</h5>
          <p class="card-text">Price: {{item.price | currency: 'USD' : 'symbol' }}</p>
          <p>
            <span>
                <button class="btn btn-primary" (click)= "selectedItem(item.id)">View Details</button>
            </span>
            &nbsp;
            <span>
                <button class="btn btn-dark" (click)= "selectedItemAddToCart(item.id)">Add to cart</button>
            </span>
          </p>
        </div>
      </div>
</div>