<div class="container">
    <div class="row">
        <div class="col">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img width="120" height="140" alt="Shopping Grocery" src="../assets/U.png" />
        </div>
        <div class="col">
            <img width="120" height="140" alt="Shopping Grocery" src="../assets/A.png" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>
                <label>User Name: </label>
            </span>
        </div>
        <div class="col">
            <span>
                <input type="text" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>
                <label>Password: </label>
            </span>
        </div>
        <div class="col">
            <span>
                <input type="text" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>
                <label>Role: </label>
            </span>
        </div>
        <div class="col">
            <span>
                
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button>Sign-in</button>
        </div>
    </div>
</div>