<div class="container checkout-container" >
    <div class="row checkout-container-row">
      <h3>Checkout</h3>
    </div>
    <div class="row checkout-item-style" *ngFor="let item of actualCheckoutList">
        <div class="col-4">
            <img width="100px" src="{{item.imageUrl}}" alt="{{item.imageUrl}}"/>
        </div>
        <div class="col-7">
            <p class="checkout-display-para">Name: {{item.title}}</p>
            <p class="checkout-display-para">ID: {{item.id}}</p>
            <p class="checkout-display-para">Title :{{item.title}}</p>
            <p class="checkout-display-para">Price: {{item.price | currency: 'USD' : 'symbol' }}</p>
            <p class="checkout-display-para">Quantity: <input type="number" id="{{item.id}}" name="{{item.id}}" min="1" max="100" (change)="quantityChange(item.id)" [(ngModel)]= "item.quantity"></p>
            <p class="checkout-display-para">Total: {{ item.price *  item.quantity | currency: 'USD' : 'symbol' }}</p>
        </div>
        <aside>
            <button class="checkout-item-cross-btn" (click)= "removeItem(item.id)">x</button>
          </aside>
    </div>
    <div class="row discount-block-style">
        <div class="col discount-block" >
           <p>Discount: <input type="text" [(ngModel)]= "discountValue" [pattern]="discountPatter" #discountError="ngModel"></p>
           <span class="discount-button">
            <button (click)="appliedDiscount()" class="btn btn-info"> Apply Discount</button>
           </span>
        </div>
        <div *ngIf="discountError.errors?.['pattern']" class="discount-msg-style"> 
            User name not valid.
         </div> 
    </div>
    <div class="row ">
        <div class="col">
            <div class="alert alert-success" role="alert" *ngIf="successDiscount">
                This is a success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errorDiscount">
                This is a danger alert—check it out!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
           <p>Total: {{totalSum - newTotal | number: '1.0-2' |  currency: 'USD' : 'symbol' }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-dark checkout-btn" (click)= "finalCheckout()">Checkout</button>
        </div>
    </div>

</div>